@{
    ViewData["Title"] = "Index";
    ViewBag.OcultarHeader = true;
}
<div class="text-center">
    <h1>Su orden ha sido tomada!</h1>
    <img src="https://teak.wihardja.com.sg/20191129013854/successful-logo-01.png" />
</div>