@model Ferreteria.Models.Departamento

@{
    ViewData["Title"] = "Create";
    ViewBag.OcultarHeader = true;
}

<header class="bg-success py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Agregar Categoria <i class="bi bi-plus-square"></i></h1>
        </div>
    </div>
</header>


<div class="container mt-5 align-content-center">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-4 shadowEfect m-3 pt-3">
            <form asp-action="Create" id="form" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display: none">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
                     <div class="form-group text-center">
                        <label class="mr-4">Imagen:</label>
                        <img id="imagenPreview" class="shadowEfect p-3" src="#" alt="Vista previa de la imagen" style="display: none; max-width: 200px; margin-bottom: 20px;" />
                        <input type="file" name="ImagenArchivo" id="imagen" class="form-control" accept=".jpg, .jpeg, .png" onchange="previewImage(this)" required />
                     </div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" id="nombre" class="form-control" required/>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" id="btnCrear" class="btn btn-primary" style="display: none"/>
                    </div>
            </form>
            <div class="justify-content-center text-center mb-4">
                <button class="btn btn-outline-success ml-1" onclick="confirmarCrear()">Agregar</button>
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </div>
    </div>
<div>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagenPreview').attr('src', e.target.result).show();
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>

}
